[submodule "crazyflie_mapping_demo/simulation_ws/crazyflie-simulation"]
	path = crazyflie_mapping_demo/simulation_ws/crazyflie-simulation
	url = https://github.com/bitcraze/crazyflie-simulation.git
[submodule "crazyflie_mapping_demo/ros2_ws/src/cf-multiranger"]
	path = crazyflie_mapping_demo/ros2_ws/src/cf-multiranger
	url = https://github.com/rimesaen/cf-multiranger.git
[submodule "crazyflie_mapping_demo/ros2_ws/src/crazyswarm2"]
	path = crazyflie_mapping_demo/ros2_ws/src/crazyswarm2
	url = https://github.com/IMRCLab/crazyswarm2
[submodule "crazyflie_mapping_demo/ros2_ws/src/cf-gz"]
	path = crazyflie_mapping_demo/ros2_ws/src/cf-gz
	url = https://github.com/rimesaen/cf-gz.git
[submodule "cf-client"]
	path = cf-client
	url = https://github.com/rimesaen/cf-client.git
[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
[submodule "aideck-gap8-examples"]
	path = aideck-gap8-examples
	url = https://github.com/bitcraze/aideck-gap8-examples.git
